@import '../../theme/sizes';
@import '../../theme/colors';
@import '../../theme/mixins/box-shadow';

:host {
    .cta-base {
        width: $container-width;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 8px 32px;

        .motto {
            flex-grow: 1;
            color: $white;
            font-size: 48px;
            font-weight: bold;
        }

        .video {
            @include box-shadow(0, 0, 8px, 4px, rgba(30, 32, 25, 0.65), false);

            background: $black;
        }
    }
}