@import '../../theme/mixins/animate';

:host {
    .filters-base {
        padding-bottom: 16px;
        margin-bottom: 16px;
        
        .filter-costs {
            .slider-item {
                @include animate();

                opacity: 1;

                &.disabled {
                    opacity: 0.35;
                }
            }
        }
    }
}